.wallet-section {
    background-color: transparent;
    overflow: visible;
    position: relative;
}

.wallet-section-img {
    position: absolute;
    left: -11%;
    top: -3%;
    z-index: 2;
}

.wallet-section .quotes {
    position: absolute;
    right: 12px;
    top: -4%;
    z-index: 20;
}

.wallet-section .quotes li {
    text-align: right;
}

.wallet-section-body {
    padding-top: 55%;
    max-width: 55%;
}

.wallet-section-body h2 {
    display: inline;
}

.wallet-section-body .color-palette-7 {
    color: #FF38AB;
}

.wallet-section-meme {
    position: absolute;
    right: -7%;
    bottom: -3%;
}

@media only screen and (max-width: 1150px) {
    .wallet-section .quotes h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .wallet-section .quotes {
        top: 0;
    }

    .wallet-section-img {
        max-width: 130%;
        left: -10%;
    }
}

@media only screen and (max-width: 900px) {
    .wallet-section .quotes {
        top: 2%;
    }

    .wallet-section .quotes h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .wallet-section-body {
        max-width: unset;
        padding-top: 70%;
        padding-bottom: 58vw;
        z-index: 15;
    }

    .wallet-section-meme {
        position: absolute;
        margin: auto 0;
        max-width: 100%;
        bottom: -17vw;
        left: -8vw;
        z-index: 10;
    }
}

@media only screen and (max-width: 700px) {
    .wallet-section-img { top: 0%; }
    .wallet-section-body { padding-top: 78%; }
}

@media only screen and (max-width: 650px) {
    .wallet-section-img { top: 0%; }
    .wallet-section .quotes h2 {
        font-size: 15px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 500px) {
    .wallet-section-img { max-width: 132%; }
    .wallet-section .quotes { display: none; }
}